.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mapColumn {
  flex: 1 1 33%;
  margin-right: 1rem;
  position: sticky;
  top: 2rem;
  align-self: flex-start;
}

.contentColumn {
  flex: 1 1 67%;
}

/* For tablet and mobile devices */
@media (max-width: 768px) {
  .container {
    /* Switch the layout from side-by-side to top-to-bottom */
    flex-direction: column;
  }

  .contentColumn {
    /* Allow the content column to take up the full width */
    flex-basis: 100%;
    flex: 1 1 100%;
  }
}